{% extends "base.html" %}
{% block content %}
{% load static %}
   <div class="page-header">
        <h1>OPEN AUCTIONS</h1>
    </div>
        <div class="container">
        <div class="row">
                    {% for item in auction %}
            <div class="col-sm-4">
                <div class="card border-secondary" style="width: 100%;">
                  <img src="/media/{{ item.image }}" class="card-img-top" width="auto" height="100%">
                  <div class="card-body">
                    <h3 class="card-title" style="text-align:center"  >{{ item.object }}</h3>
                    <p class="card-text">{{item.description}}<br> Price: ${{ item.open_price}}<br>
                    End: {{ item.close_date }}</p>
                      <form method="POST">
                    {% csrf_token %}
                    <input type="number" name='auct_id' value={{item.id}}  readonly>
                    <button type="submit" class="btn btn-primary btn-sm">Go</button>
                    </form>
                  </div>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
{% endblock %}
