{% extends "base.html" %}
{% block content %}
{% load static %}
   <div class="page-header" style="text-aligne:center">
        <h1>OPEN AUCTIONS</h1>
    </div>
        <div class="container">
        <div class="row">
                    {% for data in auction %}
            <div class="col-sm-4">
                <div class="card border-secondary" style="width: 25rem;">
                <div class="card-header">
                    Auction {{data.id}}
                </div>
                  <img src="{{ data.image.url}}"  class="card-img-top" width="250" height="180">
                  <div class="card-body">
                    <h3 class="card-title" style="text-align:center"  >{{ data.object }}</h3>
                    <p class="card-text">{{data.description}}<br> Price: ${{ data.open_price}}<br>
                    End: {{data.close_date}}</p>
                      <form method="POST">
                    {% csrf_token %}
                    <input type="number" name='auct_id' value={{data.id}}  readonly>
                    <button type="submit" class="btn btn-primary btn-sm">Go</button>
                    </form>
                  </div>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
{% endblock %}
